@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

header{
    display: grid;
    align-items: center;
    grid-template-columns: auto auto 1fr 1fr;
    gap: 1rem;
    padding: 5px;
    background-color: #004e98;
    height: 105px;
    color: white;
}

header h1{
    margin: auto auto;
    font-size: clamp(.95rem, 2.5vw, 4rem);
}
header img{
    justify-self: center;
    max-height: fit-content;
    max-width: 116px;
    margin-left: 10px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

#mode{
    position: relative;
    right: 4.2rem;
    font-size: .75rem;
    margin-top: 0px;
}

/******************NAV*****************/

.choices{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.choices a{
    display: none;
    text-decoration: none;
    text-align: center;
    padding: 20px 0px;
    background: black;
    color: white;
}

.choices a:hover{
    text-decoration: underline;
}

.open a{
    display: block;
}

/*****************logos*******************/

#logo{
    margin-right: 50px;
    min-width: 100px;
    justify-self: end;
}

#logo img{
    border-radius: 25px;
    width: 40px;
    margin: auto;
    /* margin-right: 20px; */
}

#logo a{
    display: inline-block;
}

/************button****************/

.menu-join{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: #984700;
}

.menu-join:hover{
    background-color: #bfecff;
    color: black;
}

#menu{
    font-size: 1.5rem;
    padding: 4px 8px;
    border: 1px solid rgba(0,0,0,.3);
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 2.5rem;
    right: .2rem;
    border-radius: 10px;
}
#menu::before{
    content: "☰";
}
#menu.open::before{
    content: "x";
}

/*************Hero Image********************/

.hero{
    position: relative;
    width: 100%;
    /* height: 50vh; */
    overflow: hidden;
    
}

.slider{
    display: flex;
    transition: transform 0.5s ease;
}

.slide{
    flex: 0 0 100%;
}

.slide img{
    width: 100%;
    height: auto;
    
}

/***********Table**********************/

table{
    width: 100%;
    border-collapse: collapse;
    
}

th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th{
    background-color: #f2f2f2;
}

tr:hover{
    background-color: #f5f5f5;
}

tbody tr:nth-child(even){
    background-color: #f2f2f2;
}

caption{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}


/*********************************/

main{
    color: #004e98;
    /* max-width: 800px; */
    width: 100%;
    max-width: 1280px;
    /* margin: auto; */
    /* margin-bottom: 150px; */
}

body{
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/**************Weather*********************/

.box{
    background: #bfecff;
    border-radius: 10px;
    box-shadow: 0 0 30px #bfecff;
    margin: 20px 0px;
    padding: 0px 20px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.weathercp{
    border: 1px solid #004e98;
}

.box h2, .box h3, .box h4{
    margin-top: 30px;
}

.bold-text{
    font-weight: bold;
}

/****************footer*************/
#lastModified{
    color: yellow;
}

#footerc{
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
}

#footerc img{
    justify-self: right;
    height: fit-content;
    width: 100%;
    padding: 0px 0px;
    
}

#footerc h2, h3, p{
    text-align: center;
    margin: 0px;
}

/* #footerc div:nth-child(3){
    grid-column: span 2;
} */

footer{
    background: #004e98;
    padding: 10px;
    text-align: center;
    color: white;
}

/***************Reservation*******************/

form{
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submitBtn{
    background-color: #984700;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submitBtn:hover{
    background-color: #2980b9;
}

#join-list{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#join-list ul li p{
    padding: 10px;
}

#join-list ul li{
    list-style-type: none;
}

#main-thankyou h1{
    text-align: center;
}

#main-thankyou p{
    width: 100%;
    padding: 10px;
}

/*************Contact*******************/

#maps{
    padding-bottom: 50%;
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 60px;
    
}

#h1-reservation{
    text-align: center;
}

#maps iframe{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    padding: 10px;
}

.box ul li{
    padding: 10px;
    list-style-type: none;
}

#h1-contact{
    justify-content: center;
    text-align: center;
}

