@media screen and (min-width: 1125px){
    header{
        padding: 5px 100px;
    }

    #menu{
        display: none;
    }

    main{
        margin: 0 auto;
    }

    .box{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 200px;
    }
  
  

    #gridClass{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

   #rProducts{
    margin-left: -650px;
   }







}