@media screen and (min-width: 1125px){
    header{
        padding: 5px 100px;
    }

    #menu{
        display: none;
    }

    main{
        margin: 0 auto;
    }

    .box{
        display: flex;
        flex-direction: column;
        /* width: 50%; */
        /* margin-left: 200px; */
    }
    table{
        margin-bottom: 20px;
    }
  

    #gridClass{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 20px;
    }

   #rProducts{
    margin-left: -350px;
   }







}