@media screen and (min-width: 1125px){
    header{
        padding: 5px 100px;
    }

    #menu{
        display: none;
    }

    main{
        margin: 0 auto;
    }

    .box{
        display: flex;
        flex-direction: column;
        /* width: 50%; */
        /* margin-left: 200px; */
    }
    table{
        margin-bottom: 20px;
    }
  

    #gridClass{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 20px;
    }

   #rProducts{
    margin-left: -350px;
   }

   /*******************Join***********************/

   #main-reservation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }

   form{
    grid-column: 1/2;
   }

   #main-reservation h1{
    margin: 0 auto;
    grid-column: 1/3;
    padding: 10px;
   }

   #join-list ul li p{
    padding: 20px;
   }

   #join-list{
    margin-top: 30px;
   }

   main{
    margin: auto;
   }

   /*****************Contact**********************/

   #main-contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 20px;
   }

   .box2{
    grid-column: 1;
    grid-row: 1;
    margin-top: 160px;
    height: 370px;

   }

   #maps{
    grid-column: 1 / -1;
    grid-row: 2;
    width: calc (100% + 20px);
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100vw;
   }


   #contactForm{
    grid-column: 2;
    grid-row: 1;
    margin-top: 50px;
   }

   #h1-contact{
    grid-column: 1/3;
    grid-row: 1;
   }

   /***************Rentals***********************/

   #companies{
    display: grid;
    grid-column: span 2;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 0px 20px;
}



}