header{
    background-color: #004e98;
    color: aliceblue;
    margin: 0 auto;
    text-align: center;
    
}
body{
    max-width: 400px;
    text-align: center;
    font-family: 'quicksand', Arial, Helvetica, sans-serif;
}
img{
    max-width: 380px;
}
section{
    max-width: 380px;
    border: black 1px outset;
    left: 10px;
    position: relative;
}
footer{
    background-color: #004e98;
    color: aliceblue;
    padding: 10px;
    width: auto;
}